In [1]:
l1=["nestle","cadbury","parle","itc","kissan","amul"]

l2=["amul","itc","britannia","fortune","sunfeast"]

l1=sorted(l1)
print("sorted list1:",l1)

l2=sorted(l2)
print("sorted list2:",l2)

print(" ")

print("overlapping brands:")
for i in range(len(l2)):
  for j in range(len(l1)):
    if(l2[i]==l1[j]):
      print(l2[i],end=" ")

print("\n\neven numbers from 20 to 40:")
for i in range(20,42,2): print(i,end=" ")

sorted list1: ['amul', 'cadbury', 'itc', 'kissan', 'nestle', 'parle']
sorted list2: ['amul', 'britannia', 'fortune', 'itc', 'sunfeast']

overlapping brands:
amul itc

even numbers from 20 to 40:
20 22 24 26 28 30 32 34 36 38 40